*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
body
{
    color:#ededed;
    background-color: black;
}
.header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.logo
{
    position:relative;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color:white;
    opacity:0;
    animation: slideRight 1s ease forwards;
}
.navbar a
{
    display: inline-block;
    font-size:20px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:25px;
    transition:.3s;
    animation: slideRight 1s ease forwards;
}
.navbar a:hover
{
    color:#0ef;
}
.home 
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 70px 10% 0;
}
.home-info 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home-text 
{
    display: flex;
    flex-direction:column;
    margin-right: 20px;
    animation:slideRight 1s ease forwards;
}
.home-text h2 
{
    margin-bottom: 30px;
    animation:slideBottom 1s ease forwards;
}
.home-text h2 span 
{
    color: #0ef; 
}
.home-info img 
{
    width: 250px;
    border-radius: 50%;
}
.home-sci a
{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    text-decoration: none;
    width:40px;
    height:40px;
    border-radius:50%;
    border:2px solid grey;
    color:white;
    margin:10px 10px 10px;
}
.home-sci a:hover
{
    background:white;
    color:black;
    box-shadow:0 0 20px white;
}
.about
{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    gap:1.5rem;
}
.about-img img
{
    margin-left: 200px;
    width: 250px;
    border-radius: 50%;
}
.about-text h2
{
    font-size:60px;
}
.about-text span
{
    color:#0ef;
}
.about-text h4
{
    font-size:29px;
    font-weight:600;
    color:white;
    line-height: 1.7;
    margin:15px 0 30px;
}
.about-text p
{
    color:white;
    font-size:20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    animation: slideRight ease-in;
    animation-timeline:view();
    animation-range: 0 cover 40%;
}
section
{
    display:flex;
    flex-wrap:wrap;
}
.container1
{
    width:600px;
    height:500px;
    padding:75px 90px;
    margin-left:120px;
}
.heading1
{
    text-align:center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom:50px;
}
.bar
{
    font-size:23px;
    animation: slideRight ease-in;
    animation-timeline: view();
    animation-range: 0 cover 40%;
}
.technical-bars .bar
{
    margin-top: 25px ;
    margin-bottom: 10px;
}
.technical-bars .bar:first-child
{
    margin-top:0;
}
.technical-bars .bar:last-child
{
    margin-bottom:0;
}
.technical-bars .bar .info
{
    margin-bottom:5px;
}
.technical-bars .bar .info span
{
    font-size:17px;
    font-weight:500;
    animation: slideRight ease-in;
    animation-timeline:view();
    animation-range:0% cover 100%;
    opacity:0;
}
.technical-bars .bar .progress-line
{
    position:relative;
    border-radius:10px;
    width:100%;
    height:5px;
    background-color:white;
    animation:animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform:scaleX(0);
    transform-origin: left;
}
@keyframes animate
{
    100%
    {
        transform:scaleX(1);
    }
}
.technical-bars .bar .progress-line span
{
    height:100%;
    background-color:#0ef;
    position:absolute;
    border-radius: 10px;
    animation:animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span
{
    width:85%;
}
.progress-line.css span
{
    width:75%;
}
.progress-line.javascript span
{
    width:72%;
}
.progress-line.python span
{
    width:88%;
}
.progress-line.java span
{
    width:80%;
}
.main-text
{
    padding-top:130px;
    margin-top:200px;
}
.main-text h2
{
    font-size:60px;
    line-height: 1;
    text-align:center;
}
.main-text h2 span
{
    color:#0ef;
}
.portfolio-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row
{
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.row img
{
    width:100%;
    border-radius:8px;
    display:block;
    transition:transform 0.5x;
}
.layer
{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.1),#0ef);
    position:absolute;
    border-radius: 8px;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding:0 40px;
    transition:height 0.5s;
}
.layer h5
{
    color:black;
    font-size:20px;
    font-weight:600;
    margin-bottom:15px;
}
.layer p
{
    color:black;
    font-size: 1 rem;
    line-height: 1.8;
}
.layer i
{
    color:red;
    margin-top:20px;
    font-size: 20px;
    background:white;
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    border-radius:50%;
    justify-content: center;
}
.row:hover img
{
    transform:scale(1.1);
}
.row:hover .layer
{
    height:100%;
}
.contact
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    gap:3 rem;
    padding-left:30px;
    margin-top:130px;
}
.contact-text h2
{
    font-size:90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span
{
    color:#0ef;
}
.contact-text h4
{
    margin:15px 0;
    color:rgb(228,228,228);
    font-size:20px;
    font-weight: 600;
}
.contact-text p
{
    color:rgba(177,177,177);
    font-size:20px;
    line-height:30px;
    margin-bottom:2 rem;
}
.contact-list
{
    margin-bottom:3 rem;
}
.contact-list li
{
    margin-bottom:10px;
    display:block;
}
.contact-list i
{
    display: inline-block;
    color:#0ef;
    font-size: 20px;
    font-weight: 600;
    transition:all .40s ease;
}
.contact-list li a:hover
{
    transform:scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-form 
{
    position: relative;
    margin-top: 30px;
  }
  .contact-form form 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form form input, .contact-form form textarea 
  {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #333;
    color: #ededed;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  .contact-form textarea 
  {
    resize: none;
    height: 220px;
  }
  .contact-form form .send 
  {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #ededed;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
  }
  .contact-form form .send:hover 
  {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
  }
@keyframes slideRight
{
    0%
    {
        transform:translateX(-100px);
        opacity:0;
    }
    100%
    {
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes slideBottom
{
    0%
    {
        transform:translateY(-100px);
        opacity:0;
    }
    100%
    {
        transform:translateY(0px);
        opacity:1;
    }
}